<h2>Directives works!</h2>
<p>Using ngFor Concept:</p>

<h4>{{title}}</h4>  <!--ngFor-->
<ul>
    <li *ngFor="let movie of movies">
        {{movie}}
    </li>
</ul>

<h4>{{title1}}</h4>
<ul>
    <li *ngFor="let movie of movies_details">
        {{movie.title}} - {{movie.director}}
    </li>
</ul>

<div class="panel panel-primary">
    <div class="panel-heading">
        {{title1}}
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Title</th>
                        <th>Director</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                    [ngClass]='{"bg-success":e}'
                    *ngFor="let movie of movies_details; let i=index,let o=odd; let e=even; ">
                        <td>{{i+1}}</td>
                        <td>{{movie.title}}</td>
                        <td>{{movie.director}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>

<h2>ngSwitch Example</h2>
<label for="">Type num</label> <!--ngSwitch-->
<input type="text" [(ngModel)]="num">
<div [ngSwitch]="num">
    <div *ngSwitchCase="1">one</div>
    <div *ngSwitchCase="2">two</div>
    <div *ngSwitchCase="3">three</div>
    <div *ngSwitchCase="4">four</div>
    <div *ngSwitchDefault="">Default value</div>
</div>

<!--ngIf-->

<h2>ngIf Example</h2>
<p *ngIf="true">Can you see me ?</p>
<div class="row">
   <label for="">checkbox : <input type="checkbox" [(ngModel)]="showMe"></label> 
</div>
<p *ngIf="showMe; else elseBlock">Show me is checked</p>


<ng-template #elseBlock> <!--ng-template-->
    <p>Show me is unchecked</p>
</ng-template>

<div [ngClass]="['primary', 'big']">
    Sample text
</div>